body {
    background-color: #ffc;
    text-align: center;
    margin: 1em;
    padding: 0;
    font-family: "Comic Sans MS", sans-serif;
}

strong {
    text-shadow: 4px 4px 6px #B0B080;
}

a {
    text-decoration: none;
}